
.reg-title{
  margin-top : 200px;
  font-size: 55px;
  font-weight: 600;
  font-family: lato;
  color : #ff5e14;
}

.title{
  font-size : 35px;
  font-weight: 400;
}
.notice{
  margin-top : 50px;
  margin-bottom: -60px;
  color : white;
  text-align: center;
  font-size: 20px;
}
.notice_login{
  margin-top : 50px;
  margin-bottom: -60px;
  font-size: 20px;
  color : green;
  font-weight: 400;
}
.background-reg{
    color: hsla(0,0%,100%,.6);

    background: url("https://github.com/images/modules/site/heroes/simple-codelines.svg"),#2b3137;
    background-position: center 100%;
    background-size: cover;
    height : 758px;
}